@charset "UTF-8";

html,body {
	image-rendering: -webkit-optimize-contrast; /* Safari         */
	/* image-rendering: optimize-contrast; */	/* CSS3 Proposed  */
	/* image-rendering: crisp-edges; */
	/* image-rendering:-moz-crisp-edges;  */        	/* Firefox        */
	/* image-rendering: -o-crisp-edges; */            /* Opera          */
	/* -ms-interpolation-mode:nearest-neighbor; */   /* IE8+           */
}

/* header_block --start */
.header_block {
	width: 100%;
	height: 60px;
	position: fixed;
	left: 0;
	top: 0;
	/* background-color: #0C70A0; */
	/* (new version, 2022/09/17) */
	background-color: #FFF;
	/* border-bottom: 1.5px solid #777; */
	/* border-bottom: 1.5px solid #7B7B7C; */
	/* border-bottom: 1.5px solid #939393; */
	border-bottom: 1px solid #bebebe;
	/* border-bottom: 1px solid #4FB0AE; */
	
	padding-top: 0;
	/* padding-bottom: 2%; */
	z-index: 99999;
	font-size: 0.9em;
	/* box-shadow: 0px 1px 1px #D8D8D8; */
}

.header_block, .header_block * {
	padding: 0;
	margin: 0;
}

/* from_app */
.header_block.from_app {
	background-color: #FFFFFF;	
	border-bottom: 1px solid #0C70A0;
	
	display: none;
}
/* app_switch */
/* .header_block.app_switch {
	background-color: #FFFFFF;	
	border-bottom: 1px solid #0C70A0;
	
	display: none;
} */
/* is_app_test */
.header_block.from_app.is_app_test {
	display: block;
}

.header_space {
	width: 100%;
	height: 60px;
}
.header_space.from_app {
	display: none;
}
/* app_switch */
/* .header_space.app_switch {
	display: none;
} */
.header_space.from_app.is_app_test {
	display: block;
}

.header_block .nav_block {
    width: 90%;
    margin: 0px auto;
    /* text-align: center; */
}
/* logo_block */
/* .nav_block .logo_block {
	float: left;
	background-image: url('/cefcamp/images/ymc/menu/15/ymc_logo.png');
	background-repeat: no-repeat;
	background-size: 40px;
	background-position: left center;
	padding-left: 43px;
	min-width: 43px;
	height: 60px;
} */
.header_block .nav_block .logo_block {
	float: left;
	/* background-image: url('/cefcamp/images/ymc/menu/15/ymc_logo.png');
	background-repeat: no-repeat;
	background-size: 40px;
	background-position: left center;
	padding-left: 43px;
	min-width: 43px; 
	height: 60px;*/
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: left;
}
.header_block .nav_block .logo_block a {
	/* display: inline-block; */
	/* max-width: 150px;
	font-size: 1em;
	line-height: 60px; */
	text-align: left;
	text-decoration: none;
	color: #FFF;
}
.header_block .nav_block .logo_block a img.logo_icon_dt{
	/* height: 30px; */
	/* (new version, 2022/09/17) */
	/* border-radius: 50%; */
	/* height: 32px; */
	height: 32px;
	width: auto;
	display: block;
	/* margin-top: 2px; */
	/* (new version, 2022/09/17) */
	margin-top: 3px;
}
.header_block .nav_block .logo_block a img.logo_icon_m{
	/* height: 40px; */
	/* (new version, 2022/09/17) */
	margin-top: 2px;
	/* border-radius: 50%; */
	/* height: 32px; */
	height: 34px;
	width: auto;
	display: none;
}
/* menu_block */
.header_block .nav_block .menu_block {
	float: right;
}
.header_block .menu_block ul {
	text-align: right;
	list-style: none;
	padding: 0;
	/* padding-top: 1px; */
	float: left;
	margin-top: 1px;
}
.header_block .menu_block ul li {
	float: left;
	margin-left: 30px;
	/* margin-top: -2px; */
	margin-top: 1px;
}
.header_block .menu_block ul li a {
	/* display: inline-block; */
	line-height: 60px;
	font-size: 1em;
	text-align: left;
	text-decoration: none;
	/* color: #FFF; */
	/* (new version, 2022/09/17) */
	/* color: #4FB0AE; */
	color: #444;
}
/* dropdown second menu --start */
.header_block .menu_block .dropdown {
	position: relative;
}
.header_block .menu_block .dropdown-content {
    display: none;
    position: absolute;
    /* background-color: #0C70A0; */
    /* (new version, 2022/09/17) */
    /* background-color: #D0D0D1; */
    background-color: #E5E5E6;
    min-width: 180px; /* 180px; */
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    z-index: 100;
    left: -20px;
    margin-top: -1px;
}

.header_block .menu_block .dropdown-content a {
    /* color: #fff; */
    /* (new version, 2022/09/17) */
    /* color: #959599; */
    color: #444;
    text-decoration: none;
    display: block;
	z-index: 100;
	width: auto;
	padding-left: 20px;
	padding-right: 20px;
}

.header_block .menu_block .dropdown-content a:hover {
}

.header_block .menu_block .dropdown:hover .dropdown-content {
    display: block;
}

.header_block .menu_block .dropdown:hover .dropbtn {
   opacity: 0.6;
}
/* dropdown second menu --end */

.header_block .menu_block ul::after {
	clear: both;
}

.header_block .menu_block .menu_list_m {
	/* display: none; */
	text-align: right;
	float: left;
	margin-left: 20px;
	margin-right: 3px;
}
.header_block .menu_list_m img.menu_icon {
	float: right;
	display: block;
	/* height: 22px; */
	/* (new version, 2022/09/17) */
	/* height: 26px; */
	height: 24px;
	width: auto;
	/* margin-left: 20px;
	margin-top:  20px; */
	margin-left: 15px;
	/* margin-top:  22px; */
	/* (new version, 2022/09/17) */
	/* margin-top: 18px; */
	margin-top: 18px;
	cursor: pointer;

	/* display: none; */
	/* (new version, 2022/09/17) */
	display: block;
}
.header_block .menu_list_m .login_menu_block {
	float: left;
	/* padding: 12px 0; */
	/* display: flex;
	align-items: center; */
	/*margin-top:  14px;*/
	margin-top:  10px;
}
.header_block .login_menu_block .menu_icon_class_cart {
	float: left;
	display: inline-block;
	margin-left: 15px;
	margin-right: -5px;
	height: 25px;
	width: 36px;
	text-align: center;
	position: relative;
	cursor: pointer;
}
.header_block .login_menu_block .menu_icon_class_cart .h_menu_class_cart_icon {
	cursor: pointer;
	color: #FFF;
	font-size: 1.4rem;
	vertical-align: bottom;
	margin-top: 7.5px;
}
.header_block .login_menu_block .menu_icon_notice {
	float: left;
	display: inline-block;
	margin-left: 15px;
	/* height: 30px;
	width: 40px; */
	height: 25px;
	width: 36px;
	/* background-color: #FFF;
	border-radius: 42%; */
	text-align: center;
	position: relative;
	cursor: pointer;
	/* padding: 7px 5px 3px 5px; */
	/* line-height: 1.5; */
	/* vertical-align: bottom; */
	margin-top: 1px;
}
.header_block .login_menu_block .menu_icon_notice img {
	/* height: 25px; */
	/* height: 35px; */
	/* height: 30px; */
	/* (new version, 2022/10/21) */
	height: 27px;
	width: auto;
	/* vertical-align: middle; */
	/* margin-top: 3px; */
	/* (new version, 2022/10/21) */
	margin-top: 6px;
}
.header_block .login_menu_block .menu_icon_notice i {
	color: #0f7c9b;
	/* font-size: 25px; */
	font-size: 18px;
	/* line-height: 1.5; */
	line-height: 1.6;
}
.header_block .login_menu_block .menu_icon_notice span.notice_dot {
	/*display: inline-block;*/
	display: none;
	/* width: 7px;
	height: 7px;*/
	/* (new version, 2022/10/21) */
	width: 9px;
	height: 9px;
	/* background-color: #e60073; */
	/* (new version, 2022/10/21) */
	background-color: #ff5652;
	border-radius: 50%;
	/* box-shadow: 1px 1px 1px #e6b2ba; */
	/* box-shadow: 1px 0px 1px #f0F0F0; */ /* #ffeb99 */
	/* (new version, 2022/10/21) */
	box-shadow: -1px 0px 1px #FFF;
	position: absolute;
	/*left: 10px;
	top: 2px;*/
	/* (new version, 2022/10/21) */
	right: 10px;
	top: 10px;
	border: 1px solid #FFF;
}
.header_block .login_menu_block .menu_icon_notice i.have_new_notice {
	color: #c95a6a;
}
.header_block .login_menu_block .menu_icon_user_name {
	float: left;
	display: inline-block;
	margin-left: 15px;
	/* height: 25px;
	width: 36px; */
	height: 35px;
	width: 55px;
	/* width: 52.5px; */
	/* background-color: #FFF;
	border-radius: 42%; 
	line-height: 1.9;*/
	background-image: url('/cefcamp/images/ymc/menu/15/oval.png');
	background-size: cover;
	/* line-height: 2.6; */
	line-height: 35px;
	/* padding: 1.6px 0; */
	text-align: center;
	/*padding-left: 2px;*/
	/* padding: 7px 5px 3px 5px; */
	padding-top: 1.5px;
	/* color: #0f7c9b; */
	color: #386d7b;
	font-size: 0.9em;
	cursor: pointer;
	/* line-height: 1.875; */
	/* vertical-align: bottom; */
	/* margin-top:  15px; */
}

/* from_app */
.header_block .login_menu_block .menu_icon_user_name.from_app {
	background-image: url('/cefcamp/images/ymc/menu/15/oval_blue.png');
	color: #FFFFFF;
}
/* app_switch */
.header_block .login_menu_block .menu_icon_user_name.app_switch {
	background-image: url('/cefcamp/images/ymc/menu/15/oval_blue.png');
	color: #FFFFFF;
}

.header_block .menu_list_m .login_menu_block::after {
	clear: both;
}

.header_block .menu_list_m .signin_menu_block {
	float: left;
	/* display: none; */
	/* display: flex;
	align-items: center;
	margin-top:  20px; */
	margin-top:  14px;
}
.header_block .signin_menu_block .menu_icon_signin {
	display: inline-block;
	/*
	margin-left: 15px;
	height: 25px;
	width: 36px;
	background-color: #FFF;
	border-radius: 42%;
	text-align: center;*/

	/* //padding: 7px 5px 3px 5px; */
	/* //color: #0f7c9b; */

	/*color: #386d7b;
	font-size: 0.9em;*/

	/* //line-height: 1.875; */
	/* line-height: 1.9; */
	/* //vertical-align: bottom; */
	/* //margin-top:  15px; */

	margin-left: 15px;
	/* height: 25px;
	width: 36px; */
	height: 35px;
	width: 55px;
	/* width: 52.5px; */
	/* background-color: #FFF;
	border-radius: 42%; 
	line-height: 1.9;*/
	background-image: url('/cefcamp/images/ymc/menu/15/oval.png');
	background-size: cover;
	/* line-height: 2.6; */
	line-height: 35px;
	/* padding: 1.6px 0; */
	text-align: center;
	padding-left: 2px;
	/* padding: 7px 5px 3px 5px; */
	padding-top: 1.5px;
	/* color: #0f7c9b; */
	color: #386d7b;
	font-size: 0.9em;
	cursor: pointer;
}
.header_block .menu_block .menu_list_m::after {
	display: block;
	content: '';
	clear: both;
}
.header_block .menu_block::after {
	clear: both;
}

.header_block::after {
	display: block;
	content: '';
	clear: both;
}
/* header_block --end */


/* slide_menu_block --start */
.slide_menu_block{
	position: fixed;
	width: 100%;
	height: 100%;
	height: calc(100% - 60px);
	left: 0;
	top: 60px;
	background-color: rgba(0, 0, 0, 0.2);
	/* z-index: 9999; */
	z-index: 9999999990;
	display: none;
}
.slide_menu_block.from_app{
	top: 0;
	/*top: -2px;*/
	height: 100%;
}
.slide_menu_block .slide_menu_area {
	width: 100%;
	/* height: 85%; */
	min-height: 45%;
	height: auto;
	max-height: 85%;
	position: absolute;
	left:0;
	top:0;
	/* transform: translate(-50%, -50%); */
	/*background-color: rgba(64, 103, 128,0.95);*/ 
	/* background-color: rgba(55, 98, 126, 0.95); */ /*#37627E*/
	/* (new version, 2022/09/17) */
	/* background-color: rgba(34, 90, 90, 0.95); */
	/* background-image: url('/rwd/images/menu_bg.jpg');
	background-position: left top;
	background-size: cover; */
	list-style: none;
	padding: 20px 0;
	/* padding-inline-start: 0px; */
	overflow-y: auto;
	/* (new version, 2022/09/17) */
	margin: 0;
	/* background-color: rgba(7, 7, 7, 0.95); */
	/*background-color: rgba(10, 10, 10, 0.95);*/
	/* (new version, 2022/09/30) */
	/* background-color: rgba(217, 217, 217, 0.98); */
	/* (new version, 2022/10/03) */
	/* background-color: rgba(240, 240, 240, 0.95); */
	background-color: rgba(248, 248, 248, 0.97);
	border-bottom: 3px solid #bebebe; /*#ccc;*/
	border-radius: 0 0 3px 3px;
	/* box-shadow: 1px 1px 2px #ccc; */
}
.slide_menu_block .slide_menu_area .menu_item {
	/* width: 80%; */
	width: 50%;
	margin: 0 auto;
	text-align: left;
}
.slide_menu_block .slide_menu_area .menu_item a {
	/* list-style-type: none; */
	/* color: #FFF;	 */
	/* color: #f8dec7;	 */
	/*color: #FFFFFF;*/	
	/* (new version, 2022/09/30) */
	color: #444;	
	/* text-shadow: 0 0 1px #F0F0F0; */
	line-height: 2;
	/* font-size: 1.25rem; */
	font-size: 1.125rem;
	/* text-align: center; */
	text-decoration: none;
	cursor: pointer;
}
/* .slide_menu_area .menu_item a:hover {
	font-size: 1.1rem;
	padding-bottom: 3px;
	border-bottom: 2px #F0F0F0 solid;	
} */
.slide_menu_block .slide_menu_area .menu_item .menu_class_cart_icon {
	cursor: pointer;
	color: #FFF;
	/* font-size: 1.1rem; */
	font-size: 1.15rem;
	vertical-align: text-top;
	margin-right: 3px;
}
.slide_menu_block .slide_menu_area .menu_item .menu_toggle_icon {
	/* font-size:18px; */
	font-size: 1.125rem;
	/* color:#EABFB8; */
	color: #e2a69d;
	/* color:#666; */
	margin-left: 15px;
	cursor: pointer;
}

.slide_menu_block .slide_menu_area .sub_menu_list {
	list-style: none;
	width: 100%;
	display: none;
	margin-bottom: 5px;
}
.slide_menu_block .slide_menu_area .sub_menu_item {
	text-align: left;
}
.slide_menu_block .slide_menu_area .sub_menu_item a {
	/*color: #F3DFC4;*/	
	/* (new version, 2022/09/30) */
	/* color: #868686; */	
	color: #737373;	
	line-height: 2.2;
	font-size: 0.94rem;
	text-decoration: none;
}
/* slide_menu_block --end */

/* slide_notice_block --start */
.slide_menu_block_cover{
	position: fixed;
	width: 100%;
	height: 100%;
	height: calc(100% - 60px);
	left: 0;
	top: 60px;
	/* background-color: rgba(0, 0, 0, 0.4); */
	/* z-index: 9990; */
	z-index: 9999999990;
	display: none;
}

.slide_notice_block {
	position: fixed;
	/* width: 550px; */
	width: 800px;
	min-height: 150px;
	/* max-height: 80%; */
	/* max-height: 60%; */
	max-height: 80%;
	/* right: 7.5%; */
	right: 5%;
	/* top: 50px; */
	top: 60px;
	background-color: rgba(248, 248, 248, 0.95);  /* #F8F8F8; */
	/*background-color: rgba(255, 255, 255, 0.95);*/
	/* border-bottom: 1px #F0F0F0 solid; */
	box-shadow: 10px 10px 25px rgba(79, 79, 79, 0.3); /* #F0F0F0; */
	/* border-radius: 10px; */
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	/* z-index: 9999; */
	z-index: 9999999990;
	overflow-y: auto;
	/*display: none;*/
	/* (new version, 2022/10/21) */
	/* border: 1px solid #bebebe; */
}
.slide_notice_block.from_app {
	background-color: rgba(235, 247, 254, 0.95);
	/*background-color: rgba(248, 248, 248, 0.95);*/
	box-shadow: 0 1px 1px rgba(207, 236, 252, 0.95);
	/* top: 0; */
	top: -2px;
}
/* app_switch */
.slide_notice_block.app_switch {
	/*background-color: rgba(235, 247, 254, 0.95);*/
	/* background-color: rgba(248, 248, 248, 0.95);
	box-shadow: 0 1px 1px rgba(207, 236, 252, 0.95); */
}

.slide_notice_block ul.notice_list {
	list-style: none;
	width: 80%;	
	/* margin-top: 50px; */
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;

}
.slide_notice_block ul.notice_list li.notice_item {
	margin-bottom: 18px;
	width: 100%;
}
/* notice content old version --start */
/*
.slide_notice_block ul.notice_list li.notice_item a.notice_item_link {
	float: left;
	display: block;
	width: 85%;
	font-size: 0.9rem;
	color: #0C70A0; 
	text-align: left;
	text-decoration: none;
}
.slide_notice_block ul.notice_list li.notice_item:hover a.notice_item_link{
	padding: 4px;
	border-bottom: 1px #0C70A0 solid;
}
/* test --start */
/*
.slide_notice_block ul.notice_list li.notice_item a.notice_item_link .notice_item_title {
	font-size: 0.9rem;
	color: #0C70A0;
	text-align: left;
}
.slide_notice_block ul.notice_list li.notice_item a.notice_item_link .notice_item_brief {
	font-size: 0.8rem;
	color: #0C70A0;
	text-align: left;
	padding-top: 10px;
}
.slide_notice_block ul.notice_list li.notice_item a.notice_item_link .notice_item_time {
	font-size: 0.75rem;
	color: #666;
	text-align: left;
	padding-top: 5px;
}
*/
/* test --end */
/*
.slide_notice_block ul.notice_list li.notice_item button.notice_item_btn {
	float: right;
	display: block;
	font-size: 0.8rem;
	color: #FFF;
	text-align: center;
	padding: 3px 8px 5px 8px;
	border: 1px #0e70a1 solid;
	border-radius: 10px;
	background-color: #0e70a1;
	cursor: pointer;
}
.slide_notice_block ul.notice_list li.notice_item:hover button.notice_item_btn{
	background-color: #F0F0F0;
}
*/
/* notice content old version --end */

/* notice content new version --start */
.slide_notice_block ul.notice_list a.notice_link {
	display: block;
	/* font-size: 0.9rem; */
	/* color: #0C70A0; */ 
	text-decoration: none;
}
.slide_notice_block ul.notice_list .notice_row_block {
	/* width: 90%;
	margin: 0 auto 15px auto; */
	width: 100%;
	margin-bottom: 15px;
	border-radius: 15px;
	padding: 10px 12px 10px 12px;
	background-color: #FFF;
	box-shadow: 7px 3px 15px 3px rgb(0 0 0 / 10%);
	border: 2px solid #ffffff;
	height: auto;
	cursor: pointer;
	/* line-height: 1.25rem; */
	
}
.slide_notice_block ul.notice_list .notice_row_block:hover {
	border: 2px solid #0e5d71;
	transition-duration: 0.4s;
	box-shadow: none;
}

/*
.slide_notice_block ul.notice_list .notice_function_block {
	width: 100%;
	margin-bottom: 12px;
	text-align: right;
}
.slide_notice_block ul.notice_list .notice_function_block .set_all_notice_readed {
	display:inline-block;
	padding: 5px 10px;
	border-radius: 12px;
	color: #0C70A0;
	font-size: 0.8rem;
	background-color: #FFF;
	box-shadow: 1px 1px 1px #F0F0F0;
	margin-right: 5px;
	cursor: pointer;
}
*/
.slide_notice_block .notice_function_block {
	width: 80%;	
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 12px;
	text-align: right;
}
.slide_notice_block .notice_function_block .set_all_notice_readed {
	display:inline-block;
	padding: 5px 10px;
	border-radius: 12px;
	/* color: #0C70A0; */
	/* (new version, 2022/09/17) */
	color: #ffffff;
	font-size: 0.8rem;
	background-color: #0e5d71;
	box-shadow: 5px 3px 7px 3px rgb(0 0 0 / 7%);
	border: 2px solid #0e5d71;
	margin-right: 5px;
	cursor: pointer;
}

.slide_notice_block .notice_function_block .set_all_notice_readed:hover{
	background-color: #ffffff;
	color: #0e5d71;
	font-weight: 500;
	transition-duration: 0.4s;
}

.slide_notice_block .p_notice_loading_block {
	width: 80%;	
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	text-align: center;
}
.slide_notice_block .p_notice_loading_block img.p_loading{
	width: 40px;
	height: auto;	
}

.slide_notice_block ul.notice_list .notice_row_block .notice_title_row {
	width: 100%;
	height: auto;
	overflow: hidden;
} 
.slide_notice_block ul.notice_list .notice_row_block .notice_title_area {
	float: left;
	width: 80%;
}
.slide_notice_block ul.notice_list .notice_row_block .notice_title_area .notice_dot {
	float: left;
	/* display: inline-block; */
	width: 7px;
	height: 7px;
	background-color: #D0596C;
	border-radius: 50%;
	margin-right: 8px;
	margin-top: 3px;
	/* box-shadow: 1px 1px 1px #e6b2ba; */
	box-shadow: 1px 0px 1px #f0F0F0; 
	visibility: hidden;
}
.slide_notice_block ul.notice_list .notice_row_block .notice_title_area .notice_dot.unread {
	visibility: visible;
}
.slide_notice_block ul.notice_list .notice_row_block .notice_title_area .notice_title {
	float: left;
	max-width: 88%;
	max-width: calc(100% - 15px);
	/* color: #0C70A0; */
	/* (new version, 2022/09/17) */
	color: #0e5d71;
	font-size: 1.05rem;
	font-weight: bold;
	line-height: 1.2;
	text-align: left;
	/* text-overflow: ellipsis */
	white-space: nowrap; 
	overflow: hidden;
	text-overflow: ellipsis;
}
.slide_notice_block ul.notice_list .notice_row_block .notice_title_area .notice_title::after {
	display: block;
	content: '';
	clear: both;
}
.slide_notice_block ul.notice_list .notice_row_block .notice_time {
	float: right;
	color: #707070;
	font-size: 0.8rem;
	text-align: right;
	vertical-align: text-top;
}
.slide_notice_block ul.notice_list .notice_row_block .notice_title_row::after {
	display: block;
	content: '';
	clear: both;
}
.slide_notice_block ul.notice_list .notice_row_block .notice_brief {
	width: 100%;
	color: #707070;
	font-size: 0.94rem;
	margin-top: 5px; /*25px;*/
	text-align: left;
	line-height: 1.4;
	padding-left: 15px;
}
.slide_notice_block ul.notice_list .notice_row_block .data_not_found {
	width: 100%;
	color: #707070;
	font-size: 0.94rem;
	margin-top: 5px; /*25px;*/
	text-align: left;
	line-height: 1.4;
	padding-left: 15px;
}
/* .slide_notice_block ul.notice_list .notice_row_block::after {
	display: block;
	content: '';
	clear: both;
} */
/* notice content new version --end */

/* .slide_notice_block ul.notice_list li.notice_item::after {
	display: block;
	content: '';
	clear: both;
} */
.slide_notice_block button.notice_more_btn {
	display: block;
	width: 80%;	
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	font-size: 0.8rem;
	color: #FFF;
	text-align: center;
	/* padding: 8px 10px 10px 10px; */
	padding: 3px 10px 6px 10px;
	/* border: 1px #0e70a1 solid; */
	/* (new version, 2022/09/17) */
	border: 2px #0e5d71 solid;
	border-radius: 12px;
	/* background-color: #0e70a1; */
	/* background-color: #0C70A0; */
	/* (new version, 2022/09/17) */
	background-color: #0e5d71; 
	cursor: pointer;
	position: sticky;
	box-shadow: 5px 3px 7px 3px rgb(0 0 0 / 7%);
    bottom: 20px;
}

.slide_notice_block button.notice_more_btn:hover{
	background-color: #ffffff;
	color: #0e5d71;
	font-weight: 500;
}
/* .slide_notice_block button.notice_more_btn:hover {
	color: #0C70A0; #306283;
	background-color: #F0F0F0;
} */

/* slide_notice_block --end */












/* --平板版型------------------------------------- */
/*@media screen and (min-width:768px) and (max-width: 1023.99px) {*/
@media screen and (min-width:768px) and (max-width: 991.99px) {	
	/* header_block */
	.header_block .nav_block {
	    /* display: block; */
	    width: 93%;
	    margin: 0px auto;
	    /* text-align: center; */
	}

	.header_block .menu_list_m img.menu_icon {

	}
	
	.header_block .login_menu_block .menu_icon_class_cart {
		margin-left: 0;
		margin-right: 10px;
		display: none;
	}
	
	.header_block .login_menu_block .menu_icon_notice {
		margin-left: 0;
		/* (new version, 2022/10/21) */
		margin-top: -3px;
	}

	.header_block .login_menu_block .menu_icon_user_name {

	}

	.header_block .signin_menu_block .menu_icon_signin {
		margin-left: 0;
	}

	/* .nav_block .logo_block a {
		display: none;
	} */
	.header_block .nav_block .logo_block a img.logo_icon_dt{
		display: none;
	}
	.header_block .nav_block .logo_block a img.logo_icon_m{
		display: block;
	}

	.header_block .menu_block ul {
		display: none;
	}
	/* .header_block .menu_block .menu_list_m {
		display: block;
	} */
	.header_block .menu_list_m .login_menu_block {
		display: block;
		margin-top:  14px;
	}
	.header_block .menu_list_m .signin_menu_block {

	}
	.header_block .menu_list_m img.menu_icon {
		display: block;
	}


	/* slide_menu_block */
	.slide_menu_block .slide_menu_area {
		width: 100%;
		min-height: auto;
		max-height: 80%;
	}
	.slide_menu_block .slide_menu_area .menu_item {
		/* width: 91%; */
		width: 60%;
		margin-left: 20%;
	}

	/* slide_notice_block */
	.slide_notice_block {
		position: fixed;
		/* width: 70%; */
		width: 78%;
		min-height: 150px;
		/* max-height: 80%; */
		max-height: 90%;
		/* max-height: calc(100%+10px); */
		right: 1%;
		/* top: 50px; */
	}
	.slide_notice_block .notice_function_block {
		width: 85%;	
	}
	.slide_notice_block ul.notice_list {
		width: 85%;	
	}
	.slide_notice_block ul.notice_list li.notice_item {
		margin-bottom: 18px;
	}
	.slide_notice_block ul.notice_list .notice_row_block .notice_title_area {
		width: 72%;
	}
	
	/* .slide_notice_block ul.notice_list li.notice_item a.notice_item_link {
		width: 85%;
	}
	.slide_notice_block ul.notice_list li.notice_item button.notice_item_btn {

	} */
	.slide_notice_block button.notice_more_btn {
		width: 85%;	
	}
}


/* --手機版型------------------------------------- */
@media screen and (max-width: 767px) {
	/* header_block */
	.header_block .nav_block {
	    /* display: block; */
	    width: 93%;
	    margin: 0px auto;
	    /* text-align: center; */
	}

	.header_block .menu_list_m img.menu_icon {
		margin-left: 10px;
	}
	
	.header_block .login_menu_block .menu_icon_class_cart {
		margin-left: 0;
		margin-right: 10px;
		display: none;
	}
	
	.header_block .login_menu_block .menu_icon_notice {
		margin-left: 0;
		/* (new version, 2022/10/21) */
		margin-top: -3px;
	}

	.header_block .login_menu_block .menu_icon_user_name {
		margin-left: 10px;	
	}

	.header_block .signin_menu_block .menu_icon_signin {
		margin-left: 0;
	}

	/* .nav_block .logo_block a {
		display: none;
	} */
	.header_block .nav_block .logo_block a img.logo_icon_dt{
		display: none;
	}
	.header_block .nav_block .logo_block a img.logo_icon_m{
		display: block;
	}

	.header_block .menu_block ul {
		display: none;
	}
	/* .header_block .menu_block .menu_list_m {
		display: block;
	} */
	.header_block .menu_list_m .login_menu_block {
		display: block;
		margin-top:  14px;
	}
	.header_block .menu_list_m .signin_menu_block {

	}
	.header_block .menu_list_m img.menu_icon {
		display: block;
	}

	/* slide_menu_block */
	.slide_menu_block .slide_menu_area {
		width: 100%;
		min-height: auto;
		max-height: 95%;
	}
	.slide_menu_block .slide_menu_area .menu_item {
		/* width: 91%; */
		width: 60%;
		margin-left: 20%;
	}

	/* slide_notice_block */
	.slide_notice_block {
		position: fixed;
		width: 98%;
		min-height: 150px;
		max-height: 90%;
		/* max-height: calc(100%-60px); */
		right: 1%;
		/* background-color: rgba(0, 0, 0, 0.4); */
		/* top: 50px; */
	}
	.slide_notice_block .notice_function_block {
		width: 90%;	
	}
	.slide_notice_block ul.notice_list {
		width: 90%;	
	}
	.slide_notice_block ul.notice_list li.notice_item {
		margin-bottom: 15px;
	}
	.slide_notice_block ul.notice_list .notice_row_block .notice_title_area {
		width: 76%;
	}
	/* .slide_notice_block ul.notice_list li.notice_item a.notice_item_link {
		width: 83%;
		font-size: 0.85rem;
	}
	.slide_notice_block ul.notice_list li.notice_item button.notice_item_btn {
		font-size: 0.85rem;	
	} */
	.slide_notice_block button.notice_more_btn {
		width: 90%;	
	}
}


@media screen and (max-width: 400px) {
	.header_block .menu_list_m .login_menu_block {
		display: block;
		margin-top:  14px;
	}
	
	/* .slide_notice_block ul.notice_list .notice_row_block .notice_title_area {
		width: 70%;
	} */
	/* .slide_notice_block ul.notice_list li.notice_item a.notice_item_link {
		width: 75%;
	} */
}

