
img.ckeditor_rwdimage {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

img.ckeditor_rwdimage_w_10_percent {
	width: 10%;
	height: auto;
}
img.ckeditor_rwdimage_w_20_percent {
	width: 20%;
	height: auto;
}
img.ckeditor_rwdimage_w_30_percent {
	width: 30%;
	height: auto;
}
img.ckeditor_rwdimage_w_40_percent {
	width: 40%;
	height: auto;
}
img.ckeditor_rwdimage_w_50_percent {
	width: 50%;
	height: auto;
}
img.ckeditor_rwdimage_w_60_percent {
	width: 60%;
	height: auto;
}
img.ckeditor_rwdimage_w_70_percent {
	width: 70%;
	height: auto;
}
img.ckeditor_rwdimage_w_80_percent {
	width: 80%;
	height: auto;
}
img.ckeditor_rwdimage_w_90_percent {
	width: 90%;
	height: auto;
}
img.ckeditor_rwdimage_w_100_percent {
	width: 100%;
	height: auto;
}

/* --平板版型------------------------------------- */
@media screen and (min-width:768px) and (max-width: 1024px) {


}

/* --手機版型------------------------------------- */
@media screen and (max-width: 767px) {
	/*
	img.ckeditor_rwdimage_w_10_percent {
		width: 100%;
		height: auto;
	}
	img.ckeditor_rwdimage_w_20_percent {
		width: 100%;
		height: auto;
	}
	img.ckeditor_rwdimage_w_30_percent {
		width: 100%;
		height: auto;
	}
	img.ckeditor_rwdimage_w_40_percent {
		width: 100%;
		height: auto;
	}
	img.ckeditor_rwdimage_w_50_percent {
		width: 100%;
		height: auto;
	}
	img.ckeditor_rwdimage_w_60_percent {
		width: 100%;
		height: auto;
	}
	img.ckeditor_rwdimage_w_70_percent {
		width: 100%;
		height: auto;
	}
	img.ckeditor_rwdimage_w_80_percent {
		width: 100%;
		height: auto;
	}
	img.ckeditor_rwdimage_w_90_percent {
		width: 100%;
		height: auto;
	}
	img.ckeditor_rwdimage_w_100_percent {
		width: 100%;
		height: auto;
	}
	*/
	
	/* mobile */
	img.ckeditor_rwdimage_mobile_w_10_percent {
		width: 10%;
		height: auto;
	}
	img.ckeditor_rwdimage_mobile_w_20_percent {
		width: 20%;
		height: auto;
	}
	img.ckeditor_rwdimage_mobile_w_30_percent {
		width: 30%;
		height: auto;
	}
	img.ckeditor_rwdimage_mobile_w_40_percent {
		width: 40%;
		height: auto;
	}
	img.ckeditor_rwdimage_mobile_w_50_percent {
		width: 50%;
		height: auto;
	}
	img.ckeditor_rwdimage_mobile_w_60_percent {
		width: 60%;
		height: auto;
	}
	img.ckeditor_rwdimage_mobile_w_70_percent {
		width: 70%;
		height: auto;
	}
	img.ckeditor_rwdimage_mobile_w_80_percent {
		width: 80%;
		height: auto;
	}
	img.ckeditor_rwdimage_mobile_w_90_percent {
		width: 90%;
		height: auto;
	}
	img.ckeditor_rwdimage_mobile_w_100_percent {
		width: 100%;
		height: auto;
	}
}
