div.ckeditor_rwdtablebox_block, div.ckeditor_rwdtablebox_block * {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

div.ckeditor_rwdtablebox_block {
	width: 100%; 
	display: inline-block;
}

div.ckeditor_rwdtablebox_row {
	width: 100%;
	display: table;
	table-layout: fixed;
}

div.ckeditor_rwdtablebox_cell {
	width: auto;
	display: table-cell;
	/*padding: 10px 10px;*/  
	border: 1px solid #E0E0E0;
	border-left-width: 0px;
	vertical-align: top;
	text-align: left;
	word-wrap: break-word;
}
div.ckeditor_rwdtablebox_cell:nth-child(1){
	border-left-width: 1px;
}
div.ckeditor_rwdtablebox_cell > p {
	padding: 0;
	margin:0;
}

div.ckeditor_rwdtablebox_b_w_0 {
	border-width: 0px;
}
div.ckeditor_rwdtablebox_b_w_0:nth-child(1) {
	border-left-width: 0px;
}
div.ckeditor_rwdtablebox_b_w_1 {
	border-width: 1px;
	border-left-width: 0px;
}
div.ckeditor_rwdtablebox_b_w_1:nth-child(1) {
	border-left-width: 1px;
}
div.ckeditor_rwdtablebox_b_w_2 {
	border-width: 2px;
	border-left-width: 0px;
}
div.ckeditor_rwdtablebox_b_w_2:nth-child(1) {
	border-left-width: 2px;
}
div.ckeditor_rwdtablebox_b_w_3 {
	border-width: 3px;
	border-left-width: 0px;
}
div.ckeditor_rwdtablebox_b_w_3:nth-child(1) {
	border-left-width: 3px;
}
div.ckeditor_rwdtablebox_b_w_4 {
	border-width: 4px;
	border-left-width: 0px;
}
div.ckeditor_rwdtablebox_b_w_4:nth-child(1) {
	border-left-width: 4px;
}
div.ckeditor_rwdtablebox_b_w_5 {
	border-width: 5px;
	border-left-width: 0px;
}
div.ckeditor_rwdtablebox_b_w_5:nth-child(1) {
	border-left-width: 5px;
}
div.ckeditor_rwdtablebox_b_w_6 {
	border-width: 6px;
	border-left-width: 0px;
}
div.ckeditor_rwdtablebox_b_w_6:nth-child(1) {
	border-left-width: 6px;
}
div.ckeditor_rwdtablebox_b_w_7 {
	border-width: 7px;
	border-left-width: 0px;
}
div.ckeditor_rwdtablebox_b_w_7:nth-child(1) {
	border-left-width: 7px;
}
div.ckeditor_rwdtablebox_b_w_8 {
	border-width: 8px;
	border-left-width: 0px;
}
div.ckeditor_rwdtablebox_b_w_8:nth-child(1) {
	border-left-width: 8px;
}
div.ckeditor_rwdtablebox_b_w_9 {
	border-width: 9px;
	border-left-width: 0px;
}
div.ckeditor_rwdtablebox_b_w_9:nth-child(1) {
	border-left-width: 9px;
}
div.ckeditor_rwdtablebox_b_w_10 {
	border-width: 10px;
	border-left-width: 0px;
}
div.ckeditor_rwdtablebox_b_w_10:nth-child(1) {
	border-left-width: 10px;
}
div.ckeditor_rwdtablebox_b_w_12 {
	border-width: 12px;
	border-left-width: 0px;
}
div.ckeditor_rwdtablebox_b_w_12:nth-child(1) {
	border-left-width: 12px;
}
div.ckeditor_rwdtablebox_b_w_14 {
	border-width: 14px;
	border-left-width: 0px;
}
div.ckeditor_rwdtablebox_b_w_14:nth-child(1) {
	border-left-width: 14px;
}
div.ckeditor_rwdtablebox_b_w_16 {
	border-width: 16px;
	border-left-width: 0px;
}
div.ckeditor_rwdtablebox_b_w_16:nth-child(1) {
	border-left-width: 16px;
}
div.ckeditor_rwdtablebox_b_w_18 {
	border-width: 18px;
	border-left-width: 0px;
}
div.ckeditor_rwdtablebox_b_w_18:nth-child(1) {
	border-left-width: 18px;
}
div.ckeditor_rwdtablebox_b_w_20 {
	border-width: 20px;
	border-left-width: 0px;
}
div.ckeditor_rwdtablebox_b_w_20:nth-child(1) {
	border-left-width: 20px;
}

/*div.ckeditor_rwdtablebox_row:nth-child(even) div.ckeditor_rwdtablebox_cell {*/
div.ckeditor_rwdtablebox_row:nth-child(1) ~ div.ckeditor_rwdtablebox_row div.ckeditor_rwdtablebox_cell {
	border-top-width: 0px;
}


div.ckeditor_rwdtablebox_w_10_percent {
	width: 10%;
}
div.ckeditor_rwdtablebox_w_20_percent {
	width: 20%;
}
div.ckeditor_rwdtablebox_w_30_percent {
	width: 30%;
}
div.ckeditor_rwdtablebox_w_40_percent {
	width: 40%;
}
div.ckeditor_rwdtablebox_w_50_percent {
	width: 50%;
}
div.ckeditor_rwdtablebox_w_60_percent {
	width: 60%;
}
div.ckeditor_rwdtablebox_w_70_percent {
	width: 70%;
}
div.ckeditor_rwdtablebox_w_80_percent {
	width: 80%;
}
div.ckeditor_rwdtablebox_w_90_percent {
	width: 90%;
}
div.ckeditor_rwdtablebox_w_100_percent {
	width: 100%;
}

/*
div.ckeditor_rwdtablebox_mobile_row_interval {
	width: 100%;
	display: none;
}*/

/* --平板版型------------------------------------- */
@media screen and (min-width:768px) and (max-width: 1024px) {


}

/* --手機版型------------------------------------- */
@media screen and (max-width: 767px) {
	/* rwdtablebox mobile cell */
	div.ckeditor_rwdtablebox_mobile_row {
		display: block !important;
		table-layout: initial !important;
		border-left-width: 1px !important;
	}
	div.ckeditor_rwdtablebox_mobile_row:nth-of-type(n+2) {
		margin-top: 15px;
	}
	/*div.ckeditor_rwdtablebox_mobile_row_interval {
		display: block;
		height: 15px;
	}*/
	div.ckeditor_rwdtablebox_mobile_cell {
		display: block !important;
		width: 100% !important;
	}
	
	div.ckeditor_rwdtablebox_mobile_row div.ckeditor_rwdtablebox_b_w_1 {
		border-width: 1px;
		border-left-width: 1px;
	}
	div.ckeditor_rwdtablebox_mobile_row div.ckeditor_rwdtablebox_b_w_2 {
		border-width: 2px;
		border-left-width: 2px;
	}
	div.ckeditor_rwdtablebox_mobile_row div.ckeditor_rwdtablebox_b_w_3 {
		border-width: 3px;
		border-left-width: 3px;
	}
	div.ckeditor_rwdtablebox_mobile_row div.ckeditor_rwdtablebox_b_w_4 {
		border-width: 4px;
		border-left-width: 4px;
	}
	div.ckeditor_rwdtablebox_mobile_row div.ckeditor_rwdtablebox_b_w_5 {
		border-width: 5px;
		border-left-width: 5px;
	}
	div.ckeditor_rwdtablebox_mobile_row div.ckeditor_rwdtablebox_b_w_6 {
		border-width: 6px;
		border-left-width: 6px;
	}
	div.ckeditor_rwdtablebox_mobile_row div.ckeditor_rwdtablebox_b_w_7 {
		border-width: 7px;
		border-left-width: 7px;
	}
	div.ckeditor_rwdtablebox_mobile_row div.ckeditor_rwdtablebox_b_w_8 {
		border-width: 8px;
		border-left-width: 8px;
	}
	div.ckeditor_rwdtablebox_mobile_row div.ckeditor_rwdtablebox_b_w_9 {
		border-width: 9px;
		border-left-width: 9px;
	}
	div.ckeditor_rwdtablebox_mobile_row div.ckeditor_rwdtablebox_b_w_10 {
		border-width: 10px;
		border-left-width: 10px;
	}
	div.ckeditor_rwdtablebox_mobile_row div.ckeditor_rwdtablebox_b_w_12 {
		border-width: 12px;
		border-left-width: 12px;
	}
	div.ckeditor_rwdtablebox_mobile_row div.ckeditor_rwdtablebox_b_w_14 {
		border-width: 14px;
		border-left-width: 14px;
	}
	div.ckeditor_rwdtablebox_mobile_row div.ckeditor_rwdtablebox_b_w_16 {
		border-width: 16px;
		border-left-width: 16px;
	}
	div.ckeditor_rwdtablebox_mobile_row div.ckeditor_rwdtablebox_b_w_18 {
		border-width: 18px;
		border-left-width: 18px;
	}
	div.ckeditor_rwdtablebox_mobile_row div.ckeditor_rwdtablebox_b_w_20 {
		border-width: 20px;
		border-left-width: 20px;
	}
	
	
	/* rwdtablebox phone width */
	div.ckeditor_rwdtablebox_mobile_w_10_percent {
		width: 10%;
	}
	div.ckeditor_rwdtablebox_mobile_w_20_percent {
		width: 20%;
	}
	div.ckeditor_rwdtablebox_mobile_w_30_percent {
		width: 30%;
	}
	div.ckeditor_rwdtablebox_mobile_w_40_percent {
		width: 40%;
	}
	div.ckeditor_rwdtablebox_mobile_w_50_percent {
		width: 50%;
	}
	div.ckeditor_rwdtablebox_mobile_w_60_percent {
		width: 60%;
	}
	div.ckeditor_rwdtablebox_mobile_w_70_percent {
		width: 70%;
	}
	div.ckeditor_rwdtablebox_mobile_w_80_percent {
		width: 80%;
	}
	div.ckeditor_rwdtablebox_mobile_w_90_percent {
		width: 90%;
	}
	div.ckeditor_rwdtablebox_mobile_w_100_percent {
		width: 100%;
	}
}

