
div.ckeditor_rwdyoutube_block, div.ckeditor_rwdyoutube_block * {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

div.ckeditor_rwdyoutube_block {
	/*left: 0px; 
	width: 100%; 
	height: 0; 
	position: relative; */
	/*padding-bottom: 56.2493%;*/
	width: 100%; 
	display: inline-block;
}

div.ckeditor_rwdyoutube_window {
	width: 100%; 
	height: 0; 
	/*position: absolute;*/
	position: relative; 
	top: 0px; 
	left: 0px; 
}

iframe.ckeditor_rwdyoutube_player { 
	width: 100%; 
	height: 100%; 
	position: absolute;
	top: 0px; 
	left: 0px;
}

div.ckeditor_rwdyoutube_w_10_percent {
	width: 10%;
}
div.ckeditor_rwdyoutube_w_20_percent {
	width: 20%;
}
div.ckeditor_rwdyoutube_w_30_percent {
	width: 30%;
}
div.ckeditor_rwdyoutube_w_40_percent {
	width: 40%;
}
div.ckeditor_rwdyoutube_w_50_percent {
	width: 50%;
}
div.ckeditor_rwdyoutube_w_60_percent {
	width: 60%;
}
div.ckeditor_rwdyoutube_w_70_percent {
	width: 70%;
}
div.ckeditor_rwdyoutube_w_80_percent {
	width: 80%;
}
div.ckeditor_rwdyoutube_w_90_percent {
	width: 90%;
}
div.ckeditor_rwdyoutube_w_100_percent {
	width: 100%;
}

/* --平板版型------------------------------------- */
@media screen and (min-width:768px) and (max-width: 1024px) {


}

/* --手機版型------------------------------------- */
@media screen and (max-width: 767px) {
	/*
	div.ckeditor_rwdyoutube_w_10_percent {
		width: 100%;
	}
	div.ckeditor_rwdyoutube_w_20_percent {
		width: 100%;
	}
	div.ckeditor_rwdyoutube_w_30_percent {
		width: 100%;
	}
	div.ckeditor_rwdyoutube_w_40_percent {
		width: 100%;
	}
	div.ckeditor_rwdyoutube_w_50_percent {
		width: 100%;
	}
	div.ckeditor_rwdyoutube_w_60_percent {
		width: 100%;
	}
	div.ckeditor_rwdyoutube_w_70_percent {
		width: 100%;
	}
	div.ckeditor_rwdyoutube_w_80_percent {
		width: 100%;
	}
	div.ckeditor_rwdyoutube_w_90_percent {
		width: 100%;
	}
	div.ckeditor_rwdyoutube_w_100_percent {
		width: 100%;
	}
	*/
	
	/* mobile */
	div.ckeditor_rwdyoutube_mobile_w_10_percent {
		width: 10%;
	}
	div.ckeditor_rwdyoutube_mobile_w_20_percent {
		width: 20%;
	}
	div.ckeditor_rwdyoutube_mobile_w_30_percent {
		width: 30%;
	}
	div.ckeditor_rwdyoutube_mobile_w_40_percent {
		width: 40%;
	}
	div.ckeditor_rwdyoutube_mobile_w_50_percent {
		width: 50%;
	}
	div.ckeditor_rwdyoutube_mobile_w_60_percent {
		width: 60%;
	}
	div.ckeditor_rwdyoutube_mobile_w_70_percent {
		width: 70%;
	}
	div.ckeditor_rwdyoutube_mobile_w_80_percent {
		width: 80%;
	}
	div.ckeditor_rwdyoutube_mobile_w_90_percent {
		width: 90%;
	}
	div.ckeditor_rwdyoutube_mobile_w_100_percent {
		width: 100%;
	}
}
